<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" type="text/css" href="../resources/css/index.css">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- jQuery UI -->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <title>購入品管理</title>
    </head>
    <body>
        <script type="text/javascript" src="../resources/js/script.js"></script>
        <form method="POST" action="/addPurchasedItem">
            <div id="form1">
                <div id="month">
                    <label for="month">所属月*</label>
                    <br />
                    <input name="month" type="month" required>
                </div>
                <div id="purchasedOn">
                    <label for="purchasedOn">購入日*</label>
                    <br />
                    <input name="purchasedOn" type="date" required>
                </div>
                <div id="shop">
                    <label for="shop">店舗</label>
                    <br />
                    <input name="shop" type="text">
                </div>
            </div>
            <div id="form2">
                <div id="category">
                    <label for="category">カテゴリー</label>
                    <br />
                    <select name="category">
                        <option value="">カテゴリーを選択</option>
                        <option value="001">食品</option>
                        <option value="002">日用品</option>
                    </select>
               </div>
               <div id="itemName">
                    <label for="itemName">購入品*</label>
                    <br />
                    <input name="itemName" type="text" required>
                </div>
                <div id="quantity">
                    <label for="quantity">個数*</label>
                    <br />
                    <input name="quantity" type="number" min="1" required>
                </div>
                <span id="excTaxSet">
                    <div id="excTax">
                    <label for="excTax">金額（税抜）</label>
                    <br />
                        <input name="excTax" type="number">
                    </div>
                    <div id="tax8">
                        8%
                        <input name="tax" type="radio" value="0.08">
                    </div>
                    <div id="tax10">
                        10%
                        <input name="tax" type="radio" value="0.1">
                    </div>
                </span>
                <div id="incTax">
                    <label for="incTax">金額（税込）</label>
                    <br />
                    <input name="incTax" type="number">
                </div>
                <input id="addPurchasedItemBtn" type="submit" value="追加">
            </div>
        </form>

        <hr />

        <table id="purchasedList" border="1pm solid">
            <tr class="title">
                <th>所属月</th>
                <th>購入日</th>
                <th colspan="4">店舗</th>
                <th>カテゴリー</th>
                <th>購入品</th>
                <th>個数</th>
                <th>金額（税込）</th>
                <th>ステータス</th>
                <th class="noBorder"></th>
                <th class="noBorder"></th>
            </tr>
            <tr class="used">
                <th></th>
                <th>使用日</th>
                <th>朝</th>
                <th>昼</th>
                <th>夜</th>
                <th>他</th>
                <th colspan="2">メニュー</th>
                <th>使用数</th>
                <th></th>
                <th></th>
                <th class="noBorder">購入品</th>
                <th class="noBorder">使用数</th>
            </tr>
            {{- range $pi := . }}
            <tr class="purchasedItem {{- if or (eq $pi.ItemStatus "使用済") (eq $pi.ItemStatus "廃棄")}} grayOut {{- end}}">
                <td>{{$pi.Month}}</td>
                <td>{{$pi.PurchasedOn | formatDate}}</td>
                <td colspan="4" class="noCenter">{{$pi.Shop}}</td>
                <td>{{$pi.Category}}</td>
                <td class="noCenter">{{$pi.ItemName}}</td>
                <td>{{$pi.Quantity}}</td>
                <td>{{$pi.PriceIncludingTax | formatYen}}</td>
                <td>{{$pi.ItemStatus}}
                    {{- if eq $pi.ItemStatus "使用中" }}<br />{{$pi.UsedRate}}</td>{{- end}}
                <td class="noBorder">
                    <button class="updatePurchasedItemBtn" type="submit"
                        data-id="{{$pi.ID}}"
                        data-month="{{$pi.Month}}"
                        data-purchased-on="{{$pi.PurchasedOn}}"
                        data-shop="{{$pi.Shop}}"
                        data-category="{{$pi.Category}}"
                        data-item-name="{{$pi.ItemName}}"
                        data-quantity="{{$pi.Quantity}}"
                        data-price-including-tax="{{$pi.PriceIncludingTax}}"
                    >
                        変更
                    </button>
                </td>
                <td class="noBorder">
                    <button class="addUsedItemBtn" type="submit" data-id="{{$pi.ID}}" data-requantity="{{$pi.RemainingQuantity}}" {{- if or (eq $pi.ItemStatus "使用済") (eq $pi.ItemStatus "廃棄")}} disabled="disabled"{{- end}}>
                        入力
                    </button>
                </td>
            </tr>
            {{- range $ui := $pi.UsedItems}}
            <tr class="used　{{- if or (eq $pi.ItemStatus "使用済") (eq $pi.ItemStatus "廃棄")}} grayOut {{- end}}">
                <td class="noBorder"></td>
                <td>{{$ui.UsedOn | formatDate}}</td>
                <td>{{$ui.Morning}}</td>
                <td>{{$ui.Lunch}}</td>
                <td>{{$ui.Dinner}}</td>
                <td>{{$ui.Others}}</td>
                <td colspan="2" class="noCenter">{{$ui.Menu}}</td>
                <td>{{$ui.Quantity}}</td>
                <td class="noBorder"></td>
                <td class="noBorder"></td>
                <td class="noBorder"></td>
                <td class="noBorder"></td>
            </tr>
            {{- end}}
            {{- end}}
        </table>
        <!-- modal addUsedItemDialog -->
        <div id="addUsedItemDialog" title="使用した数やメニューを入力してください">
            <form method="POST" action="/addUsedItem">
                <label for="purchaseItemID">購入品ID</label>
                <input type="number" name="purchaseItemID" readonly>
                <br />
                <label for="usedOn">使用日*</label>
                <input name="usedOn" type="date" required>
                <br />
                <div class="timing">
                    <label><input type="radio" name="timing" value="001">朝</label>
                    <label><input type="radio" name="timing" value="002">昼</label>
                    <label><input type="radio" name="timing" value="003">夜</label>
                    <label><input type="radio" name="timing" value="004" checked>他</label>
                </div>
                <label for="quantity">個数*</label>
                <input name="quantity" type="number" required>
                <br />
                <label for="menu">メニュー</label>
                <input name="menu" type="text">
                <br />
                <input type="submit" value="入力">
            </form>
        </div>
        <!-- modal updateUsedItemDialog -->
        <div id="updateUsedItemDialog" title="変更したい項目を入力してください">
            <form method="POST" action="/updatePurchasedItem">
                <label for="purchaseItemID">購入品ID</label>
                <input type="number" name="purchaseItemID" readonly>
                <br />
                <table>
                    <tr>
                        <td width="100"><label for="month">所属月</label></td>
                        <td id="exMonth" width="250"></td>
                        <td width="250">
                            <input name="month" type="month">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="purchasedOn">購入日</label></td>
                        <td id="exPurchasedOn"></td>
                        <td>
                            <input name="purchasedOn" type="date">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="shop">店舗</label></td>
                        <td id="exShop"></td>
                        <td>
                            <input name="shop" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="category">カテゴリー</label></td>
                        <td id="exCategory"></td>
                        <td>
                            <select name="category">
                                <option value="">カテゴリーを選択</option>
                                <option value="001">食品</option>
                                <option value="002">日用品</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="itemName">購入品</label></td>
                        <td id="exItemName"></td>
                        <td>
                            <input name="itemName" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="quantity">購入数</label></td>
                        <td id="exQuantity"></td>
                        <td>
                            <input name="quantity" type="number" min="1">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="incTax">金額（税込）</label></td>
                        <td id="exIncTax"></td>
                        <td>
                            <input name="incTax" type="number">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <label for="disposal">廃棄</label>
                            <input name="disposal" type="checkbox" value="1">
                            <br />
                            <label for="delete">削除</label>
                            <input name="delete" type="checkbox" value="1">
                        </td>
                    </tr>
                </table>
                <input type="submit" value="更新">
            </form>
        </div>
    </body>
</html>